{% load staticfiles %}
<!-- Autor MrPoliteGrizly-->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static "css/style.css" %}" media="screen">
		<link rel="stylesheet" href="{% static "css/bootstrap/css/bootstrap.min.css" %}" media="screen">
		<meta charset="utf-8">
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
	
	<div class="container-fluid" id="header">
	 		<div class="row">
	 			<div class="col-lg-2" id="logo">
	 				<h3>#BIGLEARN</h3>
	 			</div>

		 		<div class="col-lg-2 col-lg-offset-8" id="reg-log">
		 			<a href="{% url 'reg' %}" class="btn btn-success">Регистрация</a>
		 			<a href="{% url 'log' %}" class="btn btn-primary">Войти</a>
		 		</div>

			</div>
	</div>
	

	{% block content %} {% endblock %}
	
	 <!-- Nav
        <div class="col-lg-2 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>


        </div> -->

		<footer>
		 	<div class="container-fluid" id="footer" align="center">
		 		<p>&copy;#BIGLEARN</p>
		 	</div>
	 	</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{% static "css/bootstrap/js/bootstrap.min.js" %}"></script>
	</body>
</html>
