@import "index";


#header{
	height: $height;
	background-color: $head-color;
}
#logo{
	margin-top: 15px;
}
#reg-log{
	margin-top: 15px;
	padding: 10px;
}
#reg button{
	float: right;
}
#reg > button{
	margin-right: 10px;
}
#content{
	height: 500px;
	margin-top: 30px;
}
#laptop{
	height: 400px;
	text-align: center;
}
#block-text{
	height: 400px;
	margin-top: 30px;
	background-color: lightgrey;
}
#all{
	margin-top: 130px;
}
#footer{
	margin-top: 30px;
	height: 100px;
	background-color: $footer-color;
	color: white;
}
#imglap{
	margin-top: 30px;
	height: 400px;
	width: 560px;
}
#yout{
	max-height: 300px;
	max-width: 300px;
}
#brick{
	margin-top: 20px;
	padding: 10px;
	div{
		border: 1px solid grey;
		height: 150px;
		margin-top: 20px;
    	box-shadow: 10px 10px 20px rgba(0,0,0,0.5); /* Параметры тени */
    	padding: 10px;
	}
}


