{% extends 'base.html' %}
{% load staticfiles %}

	{% block title %}Главная строница{% endblock %}
	
	{% block head %}
	 	<div class="container-fluid" id="header">
	 		<div class="row">
	 			<div class="col-lg-2" id="logo">
	 				<h3>#BIGLEARN</h3>
	 			</div>

		 		<div class="col-lg-2 col-lg-offset-8" id="reg-log">
		 			<a href="/reg/"><button type="button" class="btn btn-success">Регистрация</button></a>
		 			<a href="/log/"><button type="button" class="btn btn-primary">Войти</button></a>
		 		</div>

			</div>
	 	</div>
	{% endblock %}
	

	{% block content %}
	 	<div class="container" id="brick">
	 		{% if sub_list %}

	 			{% for subject in sub_list%}
	 			<div class="col-lg-2 lead text-center block-link"><a href='/'>{{ subject.sub }}</a></div>
	 			{% endfor %}

	 		<!--<div class="col-lg-2 col-lg-offset-3 lead text-center block-link"><a href="">Русский</a></div>
	 		<div class="col-lg-2 col-lg-offset-3 lead text-center block-link"><a href="">Физика</a></div>-->

	 		{% endif %}
	 	</div>
	{% endblock %}

	{% block footer %}
		<style>
			footer{
				height: 60px;
			}

		</style>

		<footer>
		 	<div class="container-fluid" id="footer" align="center">
		 		<p>&copy;#BIGLEARN</p>
		 	</div>
	 	</footer>
	 	
	{% endblock %}
		