{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ article.sub }}{% endblock %}

{% block content %}
	
	<style>
		footer{
			display: none;
		}
	</style>


	<div class="container"">
		<div class="col-lg-12" id="sub-inf">
			<h6><a href="{% url 'main' %}">Назад</a></h4>
			<h1 class="text-center">{{ article.sub }}</h1>	
			<div class="col-lg-6">
				<img src="{% static "images/math.jpg" %}" class="col-lg-12 img-rounded" alt="">
				<div class="col-lg-6 col-lg-offset-3" id="btn-add">
					<button class="btn btn-success btn-lg btn-block">Записаться</button>
				</div>
			</div>

			<div class="col-lg-6">
				<p>{{ article.sub_text }}</p>
			</div>

	</div>



{% endblock %}