{% extends "base.html" %}
{% load staticfiles %}

		{% block title%}Первая страница{% endblock %}

	


		{% block content %}

		<style>
			#reg-log{
				display: none;
			}
		</style>

	 	<div id="content" class="container">
	 			<div class="col-lg-6" id="block-laptop">

				
	 			</div> 
			
				<div class="col-lg-6 indigo" id="block-text">
					<div id="all">
						<h1>Hello world!</h1>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
					</div>

					<!--<button type="button" class="btn btn-success">Зарегестрируйся сейчас!</button>
					или-->
					<a href="{% url 'main' %}"><button type="button" class="waves-effect waves-light btn-large">Посмотрите курсы</button></a>

				</div>

	 	</div>
	 	{% endblock %}

	
	

